# Python compiled build artifacts
dist/
build/
*.egg-info/
src/*.egg-info/

# Python compiled bytecode cache (Blocks them globally in all folders)
**/__pycache__/
*.pyc

# Local testing and environment configurations
.pytest_cache/
.venv/
venv/

# Local workspace scratchpads 
testing.py
examples/
